@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";


/* content */
#content {
    padding-bottom: 30px;padding-top: 5px;
}
.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.main-title-module {
    height: 66px;
    background: #fff;
    overflow: hidden;
    width: 100%;
    color: #666;
    table-layout: fixed;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 19px;
}
.main-title-txt {
    text-align: center;
    height: 66px;
    line-height: 66px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
}
.continue-shopping {
    float: right;
    margin: 0 35px 0 0;
    color: #333;
}
.continue-shopping b {
    font-family: \5b8b\4f53;
    font-weight: 700;
    color: #333;
    font-size: 16px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 3px;
}
.cart-head, .prod-list-wrap, .prod-attach-wrap {
    background: #fff;
    padding: 0 26px;
}
.order-table {
    color: #686868;
	width: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.cart-head .check-col {
    width: 175px;
}
.cart-head th {
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.check-col {
    width: 33px;
    text-align: left;
}
.goods-col {
    text-align: left;
    width: 250px;
    color: #686868;
    font-size: 14px;
    line-height: 1.4;
}
.cart-head .goods-col {
    text-align: center;
}
.price-col {
    width: 128px;
    padding: 0 20px;
    text-align: center;
    color: #666;
}
.prod-list-wrap {
    border-top: 2px solid #f7f7f5;
}
.order-table td {
    vertical-align: middle;
}
.checkbox.checked {
    background-position: -10px -205px;
}
.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/prod-detail-icon_41ff7d3.png) no-repeat -10px -237px;
    margin: 0 10px 2px 0;
}
.order-table .prod-pic {
    position: relative;
    width: 142px;
    vertical-align: top;
    font-size: 0;
    text-align: left;
}
.order-table a {
    color: #333;
}
.attach-line.package .figure, .prod-line .prod-pic .figure {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.prod-line .prod-pic .figure {
    margin: 25px 20px;
}
.figure {
    border: 1px solid #ececec;
}
.prod-line .figure img, .attach-line.package .figure img {
    width: 100px;
    height: 100px;
}
.number-box {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-bottom: 2px;
}
.prod-list-wrap .reduce-num {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.prod-list-wrap .reduce-num, .prod-list-wrap .add-num {
    display: inline-block;
    height: 18px;
    width: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding: 6px 0;
    color: #666;
    vertical-align: middle;
    border: 1px solid #bbb;
}
.prod-list-wrap .prod-num {
    width: 32px;
    height: 18px;
    line-height: 18px;
    padding: 6px 2px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
}
.prod-list-wrap .add-num {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.prod-line .help-line {
    display: inline-block;
    color: red;
    white-space: nowrap;
}
.order-table .total-price {
    color: #f51200;
}
.prod-line .favorite {
    line-height: 1.8;
}
.cart-toolbar-wrap, .fixed-bottom-bar {
    width: 100%;
    z-index: 1;
    zoom: 1;
    height: 98px;
}
.cart-toolbar-wrap {
    margin: 19px 0 37px;
}
.cart-toolbar-wrap .wrapper {
    background: #fff;
}
.cart-toolbar-inner {
    padding: 0 26px;
}
.option-operation li {
    float: left;
    margin-right: 30px;
    height: 98px;
    line-height: 98px;
}
.option-operation .checkbox {
    margin-bottom: 2px;
}
.option-operation li a {
    font-size: 16px;
    color: #333;
}
.J_viewCheckAll a {
    cursor: pointer;
    color: #333;
}
.cart-toolbar-right {
    float: right;
    text-align: left;
}
.cart-toolbar-table {
    vertical-align: middle;
    text-align: right;
}
.cart-toolbar-right .sum-area {
    padding: 20px 0 0;
}
.cart-toolbar-right .sum-area p {
    line-height: 28px;
    font-size: 14px;
    white-space: nowrap;
    width: 558px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sum-area-infoI {
    color: #333;
}
b, em, i {
    font-weight: 400;
    font-style: normal;
}
.sum-area-infoI b {
    color: #f51200;
}
.sum-area-infoI .price {
    font-size: 33px;
}
dfn {
    font-style: normal;
    font-family: "Microsoft YaHei"!important;
}
.cart-toolbar-right .btn-area {
    padding: 20px 0 0 20px;
}
button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
.cart-btn-submit {
    float: right;
}
.cart-btn-submit .btn-inner {
    background-color: #f51200;
    border: 0 0;
    color: #fff;
    padding: 0;
    width: 160px;
}

.btn--lg .btn-inner {
    letter-spacing: 1px;
    text-indent: 2px;
    height: 46px;
    font-size: 18px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    padding: 0 46px;
}
.btn-inner {
    vertical-align: middle;
    display: table-cell;
    border: 0!important;
    text-align: center;
    font-family: "Microsoft YaHei";
    line-height: normal;
    font-size: 12px;
    overflow: hidden;
}
#pay-button-i{
	width: 160px;
	height: 46px;
	border-radius: 25px;
}